[2020-01-16 00:00] tessi opened #4 "Support Imported Functions"
The host of a WASM instance can provide functions to the WASM instance which can be called from WASM code. This is commonly called "imported functions".

An example program (in the WAT format) is which expects the function `imports.imported_func` to be provided:

[code]

Wasmex does not support imported functions yet. This ticket is the place to brainstorm potential implementation ideas.

 ## Pass

[2020-03-03 01:09] bamorim commented on #4
@tessi first thanks for the work you've put into this.

I was about to start a project exactly like this (integrating wasmer with Elixir via rustler)

On the topic of supporting imported functions, maybe we should start with functions that have no return, just to test the NIF->Elixir way.

I think there is a lot to experiment on how to generate namespaces for imports.

One thing that would already

[2020-03-03 01:46] bamorim commented on #4
I've been thinking something along these lines (a lot of stuff is incorrect since I haven't thought deeply about, so take it with a grain of salt)

![image](https://user-images.githubusercontent.com/828081/75734780-e4cad700-5cc6-11ea-985d-17d9c6f43399.png)

[2020-03-03 01:47] bamorim commented on #4
Ah, and of course, the instantiate would also call NIF to create the thread, get a ref and pass that ref to caller and callbacker genservers (they can be just a simple process, but genserver is a nice abstraction)

[2020-03-03 01:54] bamorim commented on #4
Another crazier idea I had (that actually can solve other Rustler problems, not only wasm-related) is to come up with some kind of bridge between some rust actor system (such as actix) and erlang processes.

Maybe something that we would spawn "twin actors" (a rust actix that have an erlang process counterpart) or something like that. Something that would allow message passing between actix actors

[2020-03-03 15:22] tessi opened #6 "Calling WASM function should be async"
The [Erlang NIF documentation](http://erlang.org/doc/man/erl_nif.html) states that NIFs should avoid long running calls:

Calling a WASM function (`Instance.call_exported_function`) is exactly such a long running call. We just don't know how long the WASM function will need to execute. We have some options here (e.g. dirty schedulers) but the most promising one is to make all function calls async.

[2020-03-03 15:44] tessi commented on #4
Hey @bamorim thanks for reaching out! I was looking very much for a parter to think this through with. You may just be the hero I need ;)

First, I agree that we should use `GenServer` to wrap WASM instances. Even more so, because it would allow us solve another related issue (see #6). In the mindset of "devide and conquer" we should probably first implement that, and then come back to imported fu

[2020-03-05 17:33] bamorim commented on #4
Hi @tessi, happy that you liked.

Today and tomorrow I'm attending Code BEAM SF and I have a talk to give today, so I won't have much time, but last week I can dive deep into that.

I agree with you, making the instance run in another thread and everything be async is a good starting point.

About the interface, the way I'm thinking is basically like how GenServers work: you just pass a message. Y

[2020-03-05 17:44] tessi commented on #4
Oh my gosh. Have fun doing your talk and being famous :)

I am about to bring my baby to bed but will have another thought about it later.

And yes, Germany :) so quite some time difference to bridge

[2020-03-05 19:01] tessi commented on #4
Reading through it, I like the plan. Thanks for starting work on it! Tell me if there is anything I can support you with

[2020-03-11 00:07] bamorim commented on #6
Hi @tessi. I’ve finally had time to look at the repository in more depth.
Now I agree with your plan of first making it async and then architecting the process structure.

My idea now is to start defining traits for the “resources” that Elixir would call (that is, `Instance` and `Memory`).

The reason to making them traits is that we can then play around with different strategies (one is to hold a

[2020-03-11 09:20] tessi commented on #6
@bamorim I love this idea. I am torn between actix and async/await for the rust implementation. Implementing traits as a first step would be great so that we can both "play" with different solutions.

I'd be happy to see that PR. Please don't hesitate if I can provide any help.

[2020-04-14 21:37] #6 closed

[2020-04-14 21:40] tessi commented on #6
@bamorim hope you're fine! It's been a while since our last messages. In the meantime, I experimented with async fn calls and merged a related PR. So this issue is technically closed.

However, I still like your idea of defining the common interface first if you still want to contribute.

[2020-04-14 21:42] tessi commented on #4
With #7 merged, we can go forward with this ticket.

I see that wasmer 0.15.0 implemented polymorphic host function calls, which is another requirement to enable imported functions.

I guess updating to the latest wasmer release is a good next step.

[2020-04-17 07:30] tessi commented on #4
Update: We updated to the latest wasmer release and I am currently working on a prototype to make imported function happen.

Now thinking about the interface (where @bamorim did a first draft [here](https://github.com/tessi/wasmex/issues/4#issuecomment-593713721)). My thought so far are:

* we want WASM `import objects` and `export objects` to be very similar
* the import/export object (or maps fr

[2020-04-21 21:26] tessi commented on #4
I have a first hacked-together version at #9 - will improve it (and remove hacks there) over the next days.

Turns out my plan to make `Namespace` a separate resource (shared between Rust and Elixir) wasn't accepted by the Rust compiler. For now I decided to step back a bit and use plain maps to describe the import object when instantiating a WASM module.

[2020-04-24 22:36] tessi opened #11 "Add rust-clippy and apply its suggestions"
https://github.com/rust-lang/rust-clippy could probably help cleaning up the rust-part of this project.

To avoid merge conflicts with myself, I'd wait until #9 is done and merged. Then start a cleanup-session with clippy as the sidekiq

* [x] add clippy as a rust dependency
* [x] apply clippy suggestions (potentially in multiple small PRs)
* [x] add it to the CI run (if possible) so we don't acci

[2020-04-27 13:29] myobie opened #13 "Some WASI imported functions need to write to memory"
An example of a WASI function that needs to be able to write to memory is [`random_get`](https://github.com/WebAssembly/WASI/blob/d5b0c23ed2730262d4eaac2b2721aad07c6f65b4/phases/snapshot/docs.md#-random_getbuf-pointeru8-buf_len-size---errno). This means one ends up in a position where one needs to pass a function as an import that can later gain access to the instance's memory. I've had to deal wi

[2020-04-27 21:21] tessi commented on #13
Thanks for opening this well prepared issue 💚 I agree in that we should tackle it.

We should pass memory (and maybe even more context) to callback functions. This is already done for `DynamicFunc`s for us in Rust-land ([we just chose to ignore the `vm::Ctx` at the current implementation](https://github.com/tessi/wasmex/blob/55f1c4b248fcbc12269800d91c79d0b318d835d4/native/wasmex/src/namespace.rs#L

[2020-04-27 21:24] tessi commented on #13
☝️ that being said, I _think_ you could get around the GenServer process attempting to call itself by not using the `Wasmex` GenServer interface, but implement your own - this way you would not need to call the GenServer just to retrieve the memory.

It is a workaround I don't like (because I want the higher-level GenServer interface to work), but it may get you a step further in your WASI experie

[2020-04-27 21:32] myobie commented on #13
Your notes and suggested steps make sense and I agree finishing the import feature as is is the top priority.

I did start down the road of a custom GenServer this morning but realized it was too far.

[2020-04-27 22:35] tessi commented on #13
I will add a TODO to #9 to change the signature of elixir callbacks to not only receive `params` but `{context, params}` (where context will be the empty map for now).

This is hoping that people have an easier time migrating to the bright future of us passing memory and other context into callbacks.

[2020-05-02 05:02] dependabot-preview[bot] opened #15 "Dependabot couldn't find a mix.exs for this project"
Dependabot couldn't find a mix.exs for this project.

Dependabot requires a mix.exs to evaluate your project's current Elixir dependencies. It had expected to find one at the path: `/mix.exs,/native/wasmex/Cargo.toml/mix.exs`.

If this isn't a Elixir project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/tessi).

[View th

[2020-05-02 05:07] #15 closed

[2020-05-02 08:02] tessi commented on #11
done in #9 in an attempt to clean up the rust code in there

[2020-05-02 08:02] #11 closed

[2020-05-03 22:07] tessi commented on #4
done by merging #9

[2020-05-03 22:07] #4 closed

[2020-05-04 10:59] tessi commented on #13
@myobie could you give the current `master` another try? I added support for memory access to elixir callbacks in #16

[2020-05-04 12:27] tessi opened #17 "WASI support"
Using the latest changes on master it should be possible to implement the [WASI interface](https://github.com/WebAssembly/WASI/blob/master/phases/snapshot/docs.md). But it would be great if we could get [the default implementations for WASI functions from wasmer](https://github.com/wasmerio/wasmer/blob/8c174554568c716fe3d0530a7ebb2fb4f9f4b023/lib/wasi/src/lib.rs).

When instantiating a new module,

[2020-05-04 18:30] myobie commented on #13
@tessi it works for my use  case for `random_get`. An example that works for me is:

[code]

I can't use the function to write a binary because I don't want it to end with a null byte. I'm not sure  if it's worth having two functions: one for write binary and one for write null terminated string.

[2020-05-04 19:33] tessi commented on #13
Good point with the string writing. After some reading and getting more proficient in Rust it became clear to me that we shouldn't rely on null-bytes in our string helpers. We should always use the memory `index` and the strings `length` to read or write memory (as it is done by Rust in the `String` type).

Sooner or later I'll change this API to not use null-bytes, but lengths. Feel free to (but

[2020-05-04 19:39] tessi commented on #17
The WIP PR to implement this is up at #18

[2020-05-04 19:41] tessi commented on #13
In other news: You may have a look at #17 (and a WIP PR at #18) that adds WASI support. I plan to optionally pre-fill the imports object with WASI implementations written in Rust. They should ideally be overwritable from elixir if you want to implement some functions yourself.

Maybe this is helping you in your plans.

[2020-05-05 09:23] myobie commented on #13
IMO this issue can be closed now that #16 has been merged.

[2020-05-05 09:23] #13 closed

[2020-06-19 21:44] tessi opened #45 "Upgrade to the wasmer rewrite"
According to the wasmer team, they

We got an invite to a preview of their work to be able to start adoption and could start experimenting with it.

[2020-06-21 18:43] myobie opened #47 "Memory offset shouldn't be influenced by the reading byte size?"
I've got a situation where I need to start reading `uint32`'s in memory starting at a byte offset like `555`. However, [`Memory.get/4`](https://github.com/tessi/wasmex/blob/master/native/wasmex/src/memory.rs#L168) expects the entire memory stream to be broken down into elements of the chosen `element_size` instead of "all bytes after the offset" which makes it impossible to read `uint32`'s from me

[2020-06-22 08:21] tessi commented on #47
Thanks for opening this issue! I think you explained well (at least I have the feeling of understanding :D)

We are still in the development phase and haven't stabilized yet (whatever that means). Changing the behavior of that function is OK as long as we properly update the package version and CHANGELOG.

Good question. We may have to look into wasmer internals - which, at this point in time, may

[2020-06-22 13:25] myobie commented on #47
I have some code to work around it for now by doing the integer conversion in elixir:

[code]

so I am fine with waiting a bit to change the rust. I am wondering if it makes sense to just do this work in elixir and have rust always see the memory as bytes? @tessi what do you think about that?

[2020-07-14 07:28] tessi commented on #45
In the meantime the people at wasmerio progressed on their rewrite: `Memory` is now Send+Sync :tada:  It makes one compilation error less.

Can't wait for https://github.com/wasmerio/wasmer-reborn/pull/135 to land - it is work to make more structures `Send+Sync`. We depend on it as rustler needs everything to be Send+Sync. When this lands, we are close to be functioning with the rewrite.

[2020-07-23 23:56] syrusakbary commented on #45
The PR https://github.com/wasmerio/wasmer-reborn/pull/135 finally landed in master today 🎉

Hope this unblocks the issue!

[2020-07-24 09:44] tessi commented on #45
Thanks @syrusakbary for the heads up. I hope to get some dev time soon when my daughter is asleep and I manage to stay awake :)

[2020-07-24 11:27] tessi commented on #45
Update: It is compiling now and running mostly fine - the WIP code is pushed to the linked PR. What is still missing is access to memory from wrapped functions. The wasmer team has a neat trick to achieve this using function environments in their WASI implementation - given some time, I will copy and adapt their solution and see if it works for us.

[2020-07-24 11:31] tessi commented on #47
Hmm, I think (if possible to do) `offset` should always be bytes. If we do all the bytes-to-actual-values-conversion in elixir, I fear of performance impact for large chunks of memory.

If we're done with adapting to the wasmer rewrite, I will try to make `offset` count bytes instead of arbitrary units. If that does not work, conversion in elixir is probably the next best solution.

[2020-07-24 11:32] tessi commented on #17
Update: The WIP solution is probably good enough, but the tests cannot run due to a bug in wasmer. Since the wasmer team is currently rewriting the whole implementation I will see whether porting to that rewrite will make the bug go away (esp. since the bug is very unlikely to be fixed in the old wasmer codebase).

[2020-07-24 21:44] tessi commented on #45
Update: Did some more work - tests are green now. If wasmer-reborn is released, we should be ready to go 🎉

[code]

[2020-07-27 09:54] myobie commented on #47
@tessi I think your idea of the `offset` always being in bytes makes sense and it would work for my use case. I can keep using my elixir code until you are ready to work on this :bow:

[2021-01-09 15:27] tessi commented on #45
I am about to release v0.3.0 which includes support for wasmer 1.0 🎉

[2021-01-09 15:27] #45 closed

[2021-02-22 19:29] sleipnir opened #249 "Arguments and returns as a string"
First of all I would like to thank you for this excellent library.
I need to call a function that takes a string as an argument and that returns a string as a result.
In the examples I only saw the use of one or the other, never passing and receiving strings. It may seem trivial to expand, but I'm a little confused about the WASM API and the use of Memory to achieve this goal.
Could someone help m

[2021-02-23 12:00] tessi commented on #249
Hey @sleipnir thanks for asking so nicely 💚

Passing and receiving memory really isn't as easy as I wish it was. So, sadly, I don't have an easy solution for you, but a lengthy post. Hope this still helps (and if helpful, could be something I point others to who have the same question). The good news is, that there is a silver lining (see the footnote).

---

Handling strings is not easy because W

[2021-02-23 14:02] sleipnir commented on #249
Hello, thanks for the detailed information.

Reading your answer I think I was not entirely clear about my use case and maybe I should try to explain it correctly.
I need to call functions from wasm modules with arbitrary types and receive arbitrary types. These Wasm modules would be developed by third parties that would be implementing a protocol for my application, so they would be loaded and ex

[2021-02-23 18:57] tessi commented on #249
Alright, I think I understand better. You want to pass arbitrary info into WebAssebly and back up again using protobufs. You can deserialize your proto objects to json, but theoretically also to any string or byte sequence (to safe some space, or be more time efficient).

What about a custom byte serialization where you write the following to wasm memory

[code]

This way, you can pass one pointer

[2021-02-23 19:28] sleipnir commented on #249
@tessi  Thanks for the answer, I think it might be worth a try, I just had doubts about how it would look using Wasmex? Sorry if I didn't fully understand.

[2021-02-23 22:00] tessi commented on #249
I am not exactly sure if it fits your use case, but I sketched a wrapper module together that wraps `Wasmex.Memory` to implement the protocol mentioned above:

[code]

Note: Name of the module might be a little weird (I'm open for suggestions here ;)) and I just tested it briefly.

If you open `iex` inside the wasmex repository root directory, the following should work

[code]

Hope it helps you.

[2021-02-24 00:37] sleipnir commented on #249
HI @tessi This is awesome. I am really happy with all your attention to my question. I will try to use the module.

Yes, we have two projects one already open but still very, very early in the project (WIP). And another one project that we plan to open the code soon.
I leave here the link above of the project already open, it is a PubSub Broker message based on gRPC, the idea of using Wasm is to c

[2021-02-24 19:41] tessi commented on #249
Very cool :) I wish you best of luck and success with Astreu! I'm very interested if things work out for you.

Anyways, considering this issue, I think we're done. Please re-open or create a new issue if you discover any bugs or weirdnesses.

[2021-02-24 19:41] #249 closed

[2021-02-24 20:46] sleipnir commented on #249
Again I thank you for your attention and I will keep you informed. Unfortunately I was very busy with other things today and I haven't been able to test it yet, but I believe it will work accordingly and again I will keep you informed

[2021-02-27 13:52] sleipnir commented on #249
Hello I managed to reproduce the example perfectly. But I'm still not used to the Wasmex api enough to feel safe moving forward. I still have a doubt.
How is the call to a function written in wasm that accepts certain parameters like:
[code]

I can read and write in memory but the call function api still asks for parameters that I must pass to the wasm function. How do I do that? Sorry if the answ

[2021-02-27 14:43] tessi commented on #249
No Worries asking :)

You wrote your string to memory, but (as you may see in your function signature) calling that function needs a param. It wants to have the pointer to the place in memory where you stored the string.

So if you did:

[code]

`0` is the pointer (the very first byte in memory). If you use any other pointer (because there may already be other stuff in memory at the early bites, y

[2021-02-27 21:41] sleipnir commented on #249
Thanks again for the excellent response, now all the pieces fit together perfectly, I had not noticed that the parameter is just a reference to the memory

[2021-05-14 14:32] autodidaddict commented on #17
Has there been any activity on the wasmer front to let you move forward with the WASI implementation?

[2021-05-14 20:19] tessi commented on #17
Hey @autodidaddict 👋
thanks for asking and being interested :) I wrote further updates in the PR ([this is the latest update](https://github.com/tessi/wasmex/pull/18#issuecomment-775783975)). Sorry for letting this issue hang for such a long time.

The brief summary is: I'm missing only a few things on the technical side. What's keeping me from finishing this is getting enough free time to work on

[2021-05-25 14:19] autodidaddict opened #256 "Question on callbacks"
Sorry about doing this through the github, I wasn't sure how else to reach you.

I'm trying to implement something where Elixir has a pointer to my Rust struct and this rust struct can make callbacks up into Elixir (e.g. after it receives a gRPC message or a broker request, etc). This callback needs to be synchronous because it needs to potentially return a value.

I see you've got this implemente

[2021-05-25 23:39] tessi commented on #256
Hey @autodidaddict thanks for asking your question and please don't be sorry. If I can help bring Rust and Elixir closer together and help someone asking nice questions at the same time, it's a good day for me ;)

Let me get a disclaimer in before starting any actual explanation: There is currently a big refactoring ongoing in rustler. Wasmex still uses the pre-refactoring version (0.21) whereas t

[2021-05-26 15:33] autodidaddict commented on #256
This is amazing. I'm working on a few other pieces of my code that don't get into callbacks, but I think tomorrow morning I'll be about ready to start working with them. Thanks so much for all this detailed information! I'll let you know some more feedback on it re: blob posting as I go through the information tomorrow.

[2021-05-29 19:08] #256 closed

[2021-05-29 19:10] autodidaddict opened #257 "Support rustler 0.22.0-rc1"
When you upgrade to OTP 24, rustler 0.21 breaks (thread panic at `Erlang version 2.16 not handled, please file a a bug report.`) as does wasmex due to its reliance on that version of rustler. If wasmex can upgrade to this new rc, then I can get my code to build on the newest version of Rustler (which has some pretty great syntax upgrades).

[2021-05-31 09:04] tessi commented on #256
For further reference, there is an elixirforum discussion mentioning this topic: https://elixirforum.com/t/calling-elixir-in-rust/40121/6

And a relatively old erlang discussion featuring a similar approach to mine: https://erlang.org/pipermail/erlang-questions/2018-January/094626.html

[2021-06-24 21:07] tessi commented on #257
Thanks for reporting the issue and sorry for letting you wait a while. now that rustler 0.22.0 was released and I found some time, I could do the rustler upgrade.

I immediately released 0.4.0 so you can (hopefully) just update and enjoy. 👉  https://hex.pm/packages/wasmex/0.4.0

[2021-06-24 21:08] #257 closed

[2021-07-20 21:20] tessi commented on #17
I finished the WASI implementation and it seems to work quite nicely for me. The PR was just merged, I'd be interested in your results if you try this out. As always, feel free to open another issue if there is any questions or bugs.

[2021-07-20 21:20] #17 closed

[2021-07-24 20:46] tessi opened #265 "Return better errors when a wasm function call traps"
Looking as wasmer usage examples, I noticed that errors returned from a wasm function call not just have a message but also a stacktrace. No one complained yet, but I guess we want to serialize stacktraces into our error feedback.

The place to change would be [within instance.rs#execute_function()](https://github.com/tessi/wasmex/blob/f4894f78b9854c7256f9c7265add5e0187c3a546/native/wasmex/src/ins

[2021-08-10 17:55] sleipnir opened #271 "Error compilation on Alpine"
When I try to compile a docker image with Wasmex in Alpine I get the following error below:

[code]

I tried to install the correct target via rustup but the error persists.

[code]

[2021-08-11 13:10] sleipnir commented on #271
Of course @tessi

https://github.com/eigr/massa/blob/master/Dockerfile

[2021-08-11 19:10] tessi commented on #271
I got some progress - it seems that Rust cannot yet work on alpine (musl host toolchain) because of some dynamic linking issues 👉  https://github.com/rust-lang/rust/issues/59302

However, there seems to be a workaround by setting the following environment variable with some rust flags:

[code]

When adding this ENV to your Dockerfile:

[code]

it can successfully build. I didn't try further and ha

[2021-08-11 20:06] sleipnir commented on #271
Thank you very much for your help.
I managed to build with the flag you sent.
Thank you!

[2021-08-11 20:10] #271 closed

[2021-08-11 20:11] tessi commented on #271
Glad to hear. Feel free to open another if there are more roadblocks.

Also, just if you want, tell me how using wasmex worked out for massa. Hearing these kinds of stories (even if not successful) is super interesting for me and keeps me motivated :)

[2021-08-11 20:16] sleipnir commented on #271
Mass is a Sidecar proxy that implements the [Cloudstate](https://cloudstate.io/) protocol for Stateful Serveless Functions.
We don't have an official release yet, but we hope to have a release suitable for use soon.
Today we support this protocol on gRPC but we believe that supporting Wasm would be of fundamental importance to us

More in https://eigr.github.io/docs/intro/

[2021-08-18 21:03] sleipnir opened #272 "Interface Types Status ?"
What is the status for interface types support?

[2021-09-15 12:32] tessi commented on #272
Hey @sleipnir  wasmex currently has no special code to support interface types. It's theoretically possible to support interface types, since wasmer seems to have (dated?) support for it 👉  https://github.com/wasmerio/interface-types

It's not clear at this moment how an elixir-facing API would look like. I personally never played with interface types before, so I don't come with experience here :

[2021-09-15 12:49] sleipnir commented on #272
I don't have that experience either, but it would definitely be more intuitive to deal with a high-level typed interface rather than just raw bytes

[2021-10-19 15:40] autodidaddict opened #282 "Support multiple WebAssembly engines"
In the current implementation, wasmex provides an elegant Rust/NIF wrapper around the `wasmer` engine. One of the compelling stories of WebAssembly is that, in the right circumstances, people can choose which engine they like so that they can tune the behavior of the runtime to specific needs. For example, you might prefer interpreted over JITted when running in constrained environments, you might

[2021-10-21 06:40] juntao commented on #282
I like both the cargo feature and config file options.

@autodidaddict Kevin, what do you think?

[2022-02-19 20:00] tessi commented on #282
I'm really late to the party (sorry!) but what if `wasmex` becomes  an interface + tooling package that then has sub-dependencies (`wasmex-wasmer`, `wasmex-wasmedge`, ..) for actual execution?
These sub-dependencies would do the rust-interfacing (or utilize whatever is needed to execute wasm).

This way, the actual engine could be a config option of the wasmex genserver. We could even have two Gen

[2022-02-19 20:16] autodidaddict commented on #282
That sounds ideal, actually!

[2022-02-20 20:43] tessi commented on #282
cool, so let me think some shower thoughts out loud. I would be very interested in your thoughts too (but see that you might not be too much into wasmex internals to have strong opinions).

a) wasmex (the "umbrella package") would define a common API against all sub-packages (wasmex-wasmer, wasmex-wasmedge, wasmex-wasmtime, ...). Finding a good API that serves all engines well is probably a hard p

[2022-03-23 09:04] tessi opened #317 "Switch to Github Actions"
we use circle ci as a CI service, and they are great. However, in other projects I'm working on we're using GH actions mostly and switching over means I have to keep less things in mind.

This is very subjective and purely to reduce maintenance overhead just a tiny bit.

[2022-03-23 09:06] tessi opened #318 "Offer precompiled wasmex binaries"
With [recent work from dashbit](https://dashbit.co/blog/rustler-precompiled) it is now possible to have precompiled rustler binaries. I want to offer that with wasmex, so people don't have to have a rust compiler installed to use it (for most archs)

[2022-03-26 08:57] fahchen commented on #318
Should we change the dev version to a pre release version like (like `0.6.1-dev`) ?
According to the [rustler_precompiled document](https://hexdocs.pm/rustler_precompiled/precompilation_guide.html#the-rustler-module), it forces the build by using a pre release version, or we force to build by a flag.

1. by setting the system env var:
[code]
2. by setting an application env:
[code]

[2022-03-26 09:23] tessi commented on #318
I'm a fan setting a flag. This gives users control on whether they trust the precompiled binaries or not. It is also more explicit.

My gut feeling is to use approach 1. (probably follow what [html5ever_elixir](https://github.com/rusterlium/html5ever_elixir/search?q=HTML5EVER_BUILD) did, they are rustler devs and I assume they know what they're doing :))

[2022-03-26 09:30] fahchen commented on #318
I introduce the `WASMEX_BUILD` flag, and set this flag `true` in the CI.
Have a look at https://github.com/tessi/wasmex/pull/321

[2022-03-26 09:42] #317 closed

[2022-03-26 09:54] fahchen commented on #317
We may need to remove this repo from CircleCI, for it fails after the config file removed.

<img width="745" alt="image" src="https://user-images.githubusercontent.com/855678/160234280-45206bfc-462d-4584-a953-61a694f74b4a.png">
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/855678/160234324-b774e4f9-d606-486b-b72a-e5b66f4bf37a.png">

[2022-03-26 12:19] tessi commented on #317
Thanks for noticing! I just disabled circle ci

[2022-03-27 18:26] tessi opened #324 "Require at least elixir 1.11"
We just loosened our elixir requirement to `~1.10`, but it seems dependencies need at least `1.11` - it more than just rustler, but here is a compile warning for `rustler` as an example:

[code]

[2022-03-27 19:05] tessi commented on #324
@fahchen just FYI, as you did the work to support elixir 1.10. Is there any reason you need 1.10 support or are you OK with supporting roughly the last three releases of OTP/elixir?

[code]

[2022-03-27 19:06] #318 closed

[2022-03-27 21:30] #324 closed

[2022-03-28 00:07] fahchen commented on #324
It's ok for me to support last three releases of OTP/Elixir. I just loose the Elixir requirement and pass the compatibility CI rather than any efforts.
I didn't notice the compile warning at all, maybe we can add `--warnings-as-errors` to fail the compatibility CI at that case.

[2022-03-28 09:00] tessi commented on #324
great, I'll leave it at 1.11.4 as the oldest supported version then. Adding `--warnings-as-errors` is a good idea!

[2022-05-11 18:47] autodidaddict opened #332 "Allow call_function to accept longer GenServer timeouts"
By default, a `GenServer.call` assumes a timeout of `5_000`. In some edge cases (for example, a wasm module that's doing a lot of I/O by way of the host runtime like wasmCloud) we might have a function that takes more than 5 seconds to finish.

We should be able to just provide an optional / default timeout parameter to the function in the following link, right? If this is already possible and I'm

[2022-05-25 10:52] tessi commented on #332
thanks for raising this issue and contributing the solution 💜

[2022-05-25 17:34] #332 closed

[2022-06-09 20:17] brooksmtownsend opened #336 "Underlying Wasm runtime, wasmer -> wasmtime"
Slightly related to #282

So wasmer is the underlying runtime at the moment for wasmex, would you consider switching the underlying runtime of this project to wasmtime like https://github.com/viniarck/wasmtime-ex has?

We've loved using this project and are looking to take advantage of the features that come first to wasmtime, and in a perfect world this would be done through swappable runtimes li

[2022-06-10 06:27] tessi commented on #336
Thanks for asking! 💜
I would love to have wasmtime as the first other engine. I even have a local fork porting wasmex to wasmtime - I think having a fork is the first step to figure out the differences we need to be aware of when implementing #282

The only problem is my limited free time. Do you have the time to take over and/or help here?

[2022-07-27 21:40] tessi commented on #336
Hey @brooksmtownsend 👋
sorry for letting you hang so long. But I have mildly good news for a wasmtime fork of wasmex. I used some of my vacation time to get my fork working enough to make it public.
Please find it [here](https://github.com/tessi/wasmex-wasmtime).

It turned out to be a way bigger refactoring than anticipated and, unfortunately, it is not fully working at the moment. This is where

[2022-08-04 07:15] tessi commented on #336
Regarding the store-deadlock problem, I just realized that our wrapped functions receive a [Caller](https://github.com/bytecodealliance/wasmtime/blob/ca3947911eebeadc2f5f0dfeedb9e2357d9231f1/crates/wasmtime/src/func.rs#L1495) which happens to implement `AsContextMut`/`AsContext` and can act like a `Store` when called within the function scope.

I think we need to find a way to extract [this caller

[2022-08-04 07:17] tessi commented on #336
Maybe we can get inspiration from wasmtime-py, they interface the C API, but they do exactly what I proposed above. [They take the caller and pass them as a reference to the python function](https://github.com/bytecodealliance/wasmtime-py/blob/8702823b61227388de3b6a27e82eb9b0cbde8dd8/wasmtime/_func.py#L178). I guess they can get around lifetime issues since C doesn't have lifetimes :D but maybe th

[2022-08-04 07:33] tessi commented on #282
As discussed [here](https://github.com/tessi/wasmex/issues/336) I am in the process of rewriting wasmex to wasmtime as an exercise to see how different the different WASM engines can be and where wasmex needs to be flexible.

My wasmtime fork is not fully working yet, but I already see that there are a lot of differences between just these two engines alone. (Although it seems that wasmer 3.0 will

[2022-08-04 07:45] tessi commented on #272
I just visited the [interface types RFC](https://github.com/WebAssembly/interface-types) and it says:

However, [the Component Model RFC](https://github.com/WebAssembly/component-model), so I guess we have to look there :)

I also looked over the fence at what wasmtime is doing, and they don't have interface type support too (although they used to have some suport), see [their tracking GH issue](h

[2022-08-04 07:51] tessi commented on #47
@myobie I gave the whole memory API some thinking over the last couple of days and the more I look at it, the more I feel we shouldn't support all the different types (u8, u16, u32, ...) in the first place. At the wasmex layer, I think, we should closely follow WASMs linear memory model of a memory just being a couple of bytes.

In my experiment to [rewrite wasmex to the wasmtime engine](https://g

[2022-08-04 19:09] myobie commented on #47
@tessi I think just a list of bytes is perfect.

For my use case, I can't use bindgen since I use the wasm binary on a lot of different platforms and not every platform has a bindgen, so my exported wasm functions are expected to be used directly and communicate with either ints or floats.

[2022-08-04 19:15] sleipnir commented on #272
Wasmtime removed its support for interface types as I recall.
Generating the elixir type and behavior specs would be a big thing to see.

[2022-08-11 15:20] brooksmtownsend commented on #336
Thank you for the great updates @tessi, I'm following along here but haven't had much free time to look into it yet

[2022-08-12 13:07] tessi commented on #336
no worries. I'm in the same boat :)

[2022-08-31 08:15] tessi commented on #336
Ok, I _think_ i can report progress. I just pushed another (still very broken) version of wasmex-wasmtime which introduces a new concept

* during function execution we get the `caller` struct passed from wasmtime, that caller is only valid during function execution and can not safely be passed into elixir land because of lifetimes
* I introduced a "caller registry" where you can store a caller re

[2022-09-01 19:38] tessi commented on #336
Good news! together with @hamptokr we could fix the memory problem and reading/writing memory from within function calls now fully works. In fact, all tests - with the exception of WASI tests as I didn't look at WASI yet - work \o/

Next up: Fixing WASI and cleaning things up

[2022-09-05 19:50] tessi commented on #336
Keeping you updated here: WASI seems to work roughly - I still have to fix file access permissions, but 5/10 wasi tests work. This is getting closer :)

[2022-09-21 18:06] brooksmtownsend commented on #336
Perfect timing here, Wasmtime just announced 1.0! Very exciting 😄

[2022-09-30 23:27] munjalpatel opened #358 "Ability to cache compiled modules"
Is it possible ( and practical ) to cache compiled modules and then load them at a later point? Especially for large wasm files?

Something like the following?

[code]

[2022-10-06 16:45] tessi commented on #358
Hey @munjalpatel good question!

yes, it is. compilation takes some time and resources, re-using a precompiled module makes sense as you suggested.

Have a look at [`Module.serialize\1`](https://hexdocs.pm/wasmex/Wasmex.Module.html#serialize/1) and [`Module.unsafe_deserialize\1`](https://hexdocs.pm/wasmex/Wasmex.Module.html#unsafe_deserialize/1) they (de-)serialize a compiled module into a binary

[2022-10-06 16:52] tessi commented on #336
super exciting indeed! :)

I worked some more on the wasmtime fork and all test are green now 🎉  However, it works only on [my wasmtime fork](https://github.com/tessi/wasmtime). Next task is to contribute my wasmtime changes back so we can have proper access permissions for preopened directories.

[2022-10-06 16:53] tessi commented on #336
However, @brooksmtownsend I'd love if you could give that fork a try and see if it works for you

[2022-10-06 16:57] tessi commented on #282
Closing this in favour of #336 Thanks for all the input, everyone! ❤️

[2022-10-06 16:57] #282 closed

[2022-10-07 06:22] munjalpatel commented on #358
I hope you had a great vacation! This is very helpful, thanks @tessi !

[2022-10-07 06:22] #358 closed

[2022-10-07 21:58] munjalpatel opened #360 "How safe is it to run untrusted user wasm modules?"
_This is a general question and not a bug report_

We have a need to run custom data-transform logic from users in our data platform.
We are interested in utilizing WASM due to its super quick start-up times and sandboxed nature.

However, is it practical? What are some additional security concerns we should be mindful of specifically when it comes to Elixir + WASM using `wasmex`

Another project

[2022-10-15 18:08] munjalpatel opened #362 "Example using WASI"
This is a great project and awesome work @tessi !

Are there any examples I can take a look at that involves WASI?
Specifically, I am looking to make HTTP requests and use the filesystem from within the WASM.

Thank you!

[2022-10-16 17:02] tessi commented on #362
Hey @munjalpatel 👋

thanks and great question! I guess we need to improve our docs in that regard.

There are many examples in our [`wasi_tests`](https://github.com/tessi/wasmex/blob/main/test/wasi_test.exs). They include "preopens" of host directories (so that WASI executables can access the host file system). Beware, that file access permissions are likely to be removed or changed in our next ma

[2022-10-17 20:19] munjalpatel commented on #362
Hey @tessi , thanks a lot, this is very helpful. I was able to understand this reading through the code :)

[2022-10-17 20:21] #362 closed

[2022-10-18 07:52] tessi commented on #360
In general, I'd it is pretty safe. In detail it's complicated and depends not only on wasmex, but also on the WASM engine we use and your application code :) I didn't do any professional pentests or anything with wasmex, but it is used by some apps in production already. So I'm not the only one trusting my code ;)

The WASM engines we base upon (currently wasmer, likely wasmtime in the next major

[2022-10-20 00:01] munjalpatel commented on #360
Thanks, @tessi , this is helpful. I'll try this out when I get a chance and open PRs where it makes sense.

[2022-10-20 00:01] #360 closed